{% extends 'base.html.twig' %}
{% block title %}Home to Myddleware
{% endblock %}
{% block body %}
	<header>
		<div class="home_container">
			<img class="logo" src="build/images/logo/logo1.png" alt="logo_myddleware">
			{% if user == "" %}
				<button class="first_home_item btn btn-primary">
						<a href="{{path('login')}}">Login</a>
				</button>
			{% else %}
				<button class="first_home_item btn btn-primary">
					<a href="{{path('admin_dashboard')}}">Dashboard</a>
				</button>			
			{% endif %}			
			<button class="home_item btn btn-primary">
				<a href="">Install Myddleware</a>
			</button>
		</div>
	</header>
	<main class="main_home">
		<section>
			<h2>Connect your applications, exploit your data better.</h2>
			<h4>Myddleware makes complex data integration operations easier</h4>
			<p>Myddleware is free and open-source !</p>
			<p>Install it directly on your server and follow our tutorials on the community website to set up your integration rules.</p>
		</section>
	</main>
{% endblock %}