# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Email spool folder
/app/spool/*

# Cache, session files and logs (Symfony3)
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/rotate/.gitkeep
!var/sessions/.gitkeep

# Parameters
/app/config/parameters.yml
/app/config/public/parameters_public.yml
/app/config/public/parameters_smtp.yml
/app/config/public/parameters_custom.yml

# Custom directory
/src/Myddleware/RegleBundle/Custom/*

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# Assets managed by Bower
/web/assets/vendor/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Composer PHAR
#/composer.phar

# Backup entities generated with doctrine:generate:entities command
*/Entity/*~

# IDEs
.idea/
.vscode/

# Deployment & DevOps
.temp/
deploy_key
deploy_key.pub
uat.pem
/*.retry
/CLONE/
/var/databases/*
!var/databases/.gitkeep
/var/openvpn/*
!var/openvpn/.gitkeep
/var/mysql/*
!var/mysql/.gitkeep
/var/vpn/*
!var/vpn/.gitkeep
/web/testws/
docker-compose.override.yml.old

# Secrets
.env
hosts
NOTES.md
*.ovpn
.pwd.var

# OCI:START
!/src/Myddleware/RegleBundle/Custom/Solutions/database.php
!/src/Myddleware/RegleBundle/Custom/Solutions/mautic.php
!/src/Myddleware/RegleBundle/Custom/Solutions/microsoftsql.php
!/src/Myddleware/RegleBundle/Custom/Solutions/mysql.php
!/src/Myddleware/RegleBundle/Custom/Solutions/oracledb.php
!/src/Myddleware/RegleBundle/Custom/Solutions/vtigercrm.php
!/src/Myddleware/RegleBundle/Custom/Solutions/woocommerce.php
# OCI:END
