<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__.'/src')
    ->exclude('var')
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        'array_syntax' => ['syntax' => 'short'],
        'array_indentation' => true,
        'fully_qualified_strict_types' => true,
        'list_syntax' => ['syntax' => 'short'],
        'no_short_echo_tag' => true,
        'no_useless_else' => true,
        'no_useless_return' => true,
        'phpdoc_add_missing_param_annotation' => true,
        'phpdoc_trim_consecutive_blank_line_separation' => true,
        'phpdoc_types_order' => true,
        'phpdoc_summary' => true,
        'simplified_null_return' => true,
        'phpdoc_no_package' => false,
        'compact_nullable_typehint' => true,
    ])
    ->setFinder($finder)
;
