{% extends 'base.html.twig' %}

{% block title %}{{ 'successful_registration' | trans }}{% endblock %}

{% block body %}
    <section class="container-fluid background-layout-fixed vh-85">
        <div class="card p-5 mt-5">
            <div class="">
                <div class="lead">
                    {{ 'succesfully_registered' | trans }}
                </div>
                <div class="text-center">
                    <a href="{{ path('login')}}" role="button" class="btn btn-primary">{{ 'login.sign_in' | trans }}</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}