{% extends 'baseone.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">

        {{ form(form) }}
        </div>
        <button type="button" class="btn btn-primary btn-block"> Test connection </button>
    </div>
</div>
{% endblock %}
