{% extends 'base.html.twig' %}

{% form_theme formIdBatch 'bootstrap_4_layout.html.twig' %}

{% block body %}

<h1>execute a rule by id</h1>


{{ form_start(formIdBatch) }}
{{ form_row(formIdBatch.id, {'attr' : {'placeholder': "separate the ids with comas, no space"}}) }}
<button type='submit' class='btn btn-success' >Run the rule with these ids</button>
{{ form_end(formIdBatch) }}

{% endblock %}