<section class="mt-2 p-3 bg-primary rounded">
    <p class="lead text-white"> {{ placeholder }}</p>
    {% if form.fieldSelect_source is defined %}
       {{ form_row(form.fieldSelect_source) }}
    {% elseif form.fieldSelect_target is defined %}
        {{ form_row(form.fieldSelect_target) }}
    {% else %}
        {{ form_row(form.fieldSelect_) }}
   {% endif %}
</section>