parameters:
    database_driver: pdo_mysql
    database_host: 
    database_port: 
    database_name: 
    database_user: 
    database_password:
    secret: ThisTokenIsNotSoSecretChangeIt
    myddleware_support: 0
    param:
        mode: front_office
    extension_allowed:
        - xml
        - wsdl
    myd_version: 2.5.2c
    block_install: 0
