parameters:
    database_driver: pdo_mysql
    database_host: 
    database_port: 
    database_name: 
    database_user: 
    database_password:
    mailer_transport: smtp
    mailer_host:
    mailer_user:
    mailer_password:
    mailer_port:
    mailer_auth_mode:
    mailer_email:
    mailer_name:
    secret: ThisTokenIsNotSoSecretChangeIt
    myddleware_support: 0
    param:
        mode: front_office
    extension_allowed:
        - xml
        - wsdl
    myd_version: 2.3.3
    php:
        executable: php
    locale: en
    pager: 20
    block_install: 0
    migration:
        mode: 0
    notification:
        alert_time_limit: 60
    transfer:
        search_limit: 1000