<section class="mb-5 d-none" id="step-5">

  <div class="section-chevron" aria-hidden="true">
    <a href="#step-3" class="section-chevron">
      <i class="fa-solid fa-circle-chevron-down"></i>
    </a> 
  </div>

  <h3 class="section-create-rule fw-bold mb-4 fw-bold mb-4">
    {{ 'create_rule.step5.title' | trans }}
  </h3>

  <button id="nav-create-rule-mapping" class="nav-create-rule btn btn-outline-primary mb-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#ruleCreateNav" aria-controls="ruleCreateNav">
        <i class="fa-solid fa-list-ul"></i>
  </button>

</section>
