{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

{% extends 'base.html.twig' %}
{% block title %}{{parent()}} | {{'create_rule.step1.title'|trans}}{% endblock %}
{% block titlesm %}{{'title.rule.create'|trans}}{% endblock titlesm %} 
{% block body %}
    <div>
    	{# ------------- PROGRESSION DE LA REGLE ------------- #}
    	<div id="progress_content">
			<div id="progressbar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="5">
				<div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width:5%;">5 %</div>
			</div>	
		</div>
		{# ------------- ONGLETS ------------- #}
		<div class="tabs">	
		<ul>
			{% include "Rule/create/onglets/index.html.twig" %}
		</ul>
			<div id="connexion">
				{% include "Rule/create/onglets/connexion.html.twig" %} {# with{'solutions':solutions} only #}
			</div>
			<div id="choix"></div>
			<div id="champs"></div>
			<div id="filter"></div>
			<div id="params"></div>
		</div>
    </div>

    {# ------------- PARAMETRES JQUERY ------------- #}
    <script type="text/javascript">
    	
	var path_img = "{{ asset('build/images/regle/') }}";
	var onglets = {
		active: 0,
		disabled: [1,2,3,4,5,6]
	};
 	var change = false;
    </script>
    {# ------------- PARAMETRES JQUERY ------------- #}
{% endblock %}