{% trans_default_domain 'FOSUserBundle' %}

<style type="text/css">
	{% include "LoginBundle:Layout:style.css.twig" %}
</style>

<div id="change_password">
	<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
	    {{ form_widget(form) }}
	    <div>
	        <p><input class="btn-myd" type="submit" value="{{ 'resetting.reset.submit'|trans }}" /></p>
	    </div>
	</form>
</div>