
#bloc_paramName1,
#bloc_paramvalue1,
#bloc_paramName2,
#bloc_paramvalue2 {
    display: none;
}


.errors ul {
    padding-left: 0;
}

.errors ul li {
    list-style: none;
    padding: 5px;
    color: red;
}

