body.login {
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#reset_password {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 450px;
    width: 100%;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-group label {
    font-size: 14px;
    font-weight: bold;
    color: #555;
    text-align: left;
    margin-bottom: 5px;
}

.input-group .form-control {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    background-color: #fafafa;
    transition: border-color 0.3s;
}

.input-group .form-control:focus {
    border-color: #03c4eb;
    outline: none;
}

.input-group .form-errors {
    color: #b91c1c;
    font-size: 14px;
    margin-top: 5px;
}

#reset-password-button-request {
    background-color: #03c4eb;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 20px;
}

#reset-password-button-request:hover {
    background-color: #0284a8;
}