.variable-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    border: 1px solid #dee2e6;
}

.variable-details .card-header {
    font-weight: bold;
    font-size: 20px;
}

.variable-details strong {
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
    text-transform: uppercase;
}

.variable-details .row {    
    text-align: justify;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #dee2e6;
}

.variable-details .row:last-of-type {
    border-bottom: none;
}
#variables .btn {
    font-size: 0.9rem;
    padding: 6px 12px;
}
