#myd_top {
  height: 35px;
  min-height: 35px;
  max-height: 35px;
  background: #444446;
  border-bottom: 4px solid #C6BD20;
  min-width: 1200px;
  width: 100%;
}
#myd_title {
  height: 46px;
  background: #0F66A9;
  margin: 0 auto;
  width: 1200px;
  color: white;
  padding: 14px;
  font-weight: bold;
}
#myd_title a,
#myd_title a:hover {
  color: #C6BD20;
}
.myd_loading > img {
  display: none;
  width: 43px;
  height: 11px;
}
header {
  height: auto;
  min-height: 200px;
  margin: 0 auto;
  width: 1200px;
}
section {
  margin: 0 auto;
  width: 1200px;
  min-height: 500px;
  background: white;
}
footer {
  margin-top: 100px;
  padding: 10px;
  height: 100px;
  min-height: 100px;
  max-height: 100px;
  background: #444446;
  min-width: 1200px;
  width: 100% auto;
  color: white;
  text-align: center;
}
.clr {
  clear: both;
}
.ctr {
  text-align: center;
}
.left {
  float: left;
  text-align: left;
}
.right {
  text-align: right;
  float: right;
}
.task {
  width: 150px;
  max-width: 150px;
  margin: 5px;
  display: inline-block;
}
#fd-title-small span.nb,
#fd-title span.nb {
  font-size: 1.3em;
}
#tabs {
  border: 0px !important;
}
#tabs ul.ui-widget-header {
  background: none;
  border: none;
}
#tabs ul.ui-widget-header li {
  height: 80px;
  min-width: calc(173.22857142857px);
  max-width: calc(173.22857142857px);
  margin: -1px;
}
#tabs .ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: #D7D8DA;
  border-left: 2px solid #B7B7B9;
  border-right: 2px solid #B7B7B9;
  color: #AAAAAC;
  opacity: 1;
}
#tabs .ui-state-active {
  background: white;
  color: #454547;
}
#tabs .ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #454547;
}
#tabs .ui-corner-all,
#tabs .ui-corner-top,
#tabs .ui-corner-right,
#tabs .ui-corner-tr,
#tabs .ui-corner-left,
#tabs .ui-corner-tl,
#tabs.ui-corner-br,
#tabs .ui-corner-bottom,
#tabs .ui-corner-bl {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
#tabs .ui-corner-all,
#tabs .ui-corner-bottom,
#tabs .ui-corner-right,
#tabs .ui-corner-br {
  border-bottom-right-radius: 0px;
}
#tabs .ui-corner-all,
#tabs .ui-corner-bottom,
#tabs .ui-corner-left,
#tabs .ui-corner-bl {
  border-bottom-left-radius: 0px;
}
.ui-tabs,
.ui-tabs-nav {
  padding: 0em !important;
}
#tabs .ui-tabs .ui-tabs-nav li.ui-tabs-active,
#tabs .ui-state-hover,
#tabs .ui-state-active {
  border-top: 0px !important;
}
#tabs .ui-state-disabled {
  background: #7D7D7F;
  border-top: 9px solid #CCC31C;
}
#tabs .ui-state-disabled a.ui-tabs-anchor {
  color: #343436;
}
#tabs a.ui-tabs-anchor {
  width: 100%;
  height: 100%;
  text-align: center;
}
#tabs ul.ui-tabs-nav {
  width: 1200px;
}
#notification {
  margin: 0 auto;
  width: 1200px;
  background: white;
  display: none;
}
#notification #zone_notification {
  margin: 0 auto 20px;
  text-align: left;
  width: 1200px;
  max-width: 1200px;
  max-height: 120px;
  overflow-y: scroll;
  padding: 0;
  -moz-box-shadow: 5px 5px 5px 0px #656565;
  -webkit-box-shadow: 5px 5px 5px 0px #656565;
  -o-box-shadow: 5px 5px 5px 0px #656565;
  box-shadow: 5px 5px 5px 0px #656565;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565,Direction=134,Strength=5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#notification #zone_notification li {
  list-style-type: none;
  padding-left: 15px;
  min-height: 30px;
}
#notification #zone_notification li .glyphicon {
  float: left;
  margin: 0 5px;
}
#notification #zone_notification .info {
  color: #0F66A9;
  background: #BFE2FC;
}
#notification #zone_notification .warning {
  color: #f1b753;
  background: #ffeccc;
}
#notification #zone_notification .error {
  color: #d60405;
  background: #f2dedf;
}
#notification #zone_notification .success {
  color: #9aa932;
  background: white;
}
.block-btn-infos > a {
  text-decoration: none;
}
.help-content {
  border-top: 1px solid #ccc;
  margin: 20px 0;
  padding-top: 20px;
  text-align: justify;
  line-height: 2em;
}
.help-content a {
  text-decoration: underline;
}
.help-content a:hover {
  color: #0F66A9;
}
#blockaddfield {
  margin: 10px 0px;
  float: right;
}

menu {
  margin-top: -5px;
}
menu ul,
menu li {
  list-style: none;
}
menu li {
  background: #444446;
  display: inline-block;
  width: 150px;
  padding-top: 5px;
  height: 50px;
  text-align: center;
  font-weight: bold;
}
menu .dropdown-menu > li > a,
menu .dropdown-menu > li > a:hover {
  background-color: transparent;
  background-image: transparent;
  background: transparent;
}
menu .dropdown-menu .divider {
  background-color: #e5e5e5;
  height: 2px;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
menu .dropdown-menu > li > a {
  color: #444446;
}
menu .dropdown-menu > li > a:hover {
  color: #0F66A9;
}
menu li li,
#myd_top li li {
  background: white;
  text-align: left;
  width: 200px;
  max-width: 200px;
  overflow: hidden;
  height: 25px;
  padding: 0px;
}
menu li li:hover,
#myd_top li li:hover {
  background: transparent;
}
#myd_top .nav-pills > li > a:focus,
menu .nav-pills > li > a:focus {
  background: transparent;
}
#myd_top li a {
  color: white;
}
#myd_top li li a {
  color: #0F66A9;
}
menu .nav-pills > li > a,
menu .nav-pills > li > a:hover,
menu .nav .open > a,
menu .nav .open > a:hover,
menu .nav .open > a:focus {
  color: white;
  background-color: transparent;
  border-radius: none;
}
menu li:hover {
  background: #0F66A9;
  cursor: pointer;
}
#myd_top nav {
  padding-right: 150px;
}
#myd_top .nav-pills > li > a,
#myd_top .nav-pills > li > a:hover,
#myd_top .nav .open > a,
#myd_top .nav .open > a:hover,
#myd_top .nav .open > a:focus {
  background-color: transparent;
  border-radius: none;
}
#myd_top .nav-pills > li > a:hover,
#myd_top .nav .open > a,
#myd_top .nav .open > a:hover,
#myd_top .nav .open > a:focus {
  color: #C6BD20;
}
#search {
  padding-top: 25px;
}

#step_modules {
  padding: 20px;
}
#validation_simulation:hover {
  cursor: pointer;
}
#connexion #rulename {
  border: 3px solid transparent;
  padding: 5px;
  color: white;
  background: #202020;
}
.obl {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 20px;
  padding-left: 5px;
}
.windows {
  display: none;
}
.clr {
  both: clear;
}
.left {
  float: left;
  text-align: left;
}
.right {
  float: right;
  text-align: right;
}
.cursor:hover {
  cursor: pointer;
  color: #12BA00;
}
.note,
#error {
  float: left;
  margin-right: .3em;
  width: 400px;
  margin: 20px 0;
}
.ui-widget-content {
  font-size: 1em;
}
.ui-widget-header {
  font-size: 0.85em;
}
#choix fieldset {
  border: 0px;
}
.clr {
  clear: both;
}
.listepager {
  min-width: 75px;
}
.listepager td {
  padding: 5px;
  color: black;
  min-width: 150px;
}
.solution_block {
  width: 200px;
  height: 64px auto;
}
.listepager .off td {
  opacity: 0.5;
}
.listepager tr {
  padding: 10px;
}
.has-switch > div {
  height: 30px;
}
.listepagerflux {
  width: 99%;
}
.listepagerflux td {
  padding: 5px;
}
#fields_duplicate_target li {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid rgba(0,0,0,0);
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #FFFFFF;
  border-color: #CCCCCC;
  color: #333333;
}
#fields_duplicate_target li:hover {
  cursor: pointer;
}
#fields_duplicate_target li.active {
  background-color: #5BC0DE;
  border-color: #46B8DA;
  color: #FFFFFF;
}
#fields_duplicate_target li.no_active {
  background-color: #D9534F;
  border-color: #D43F3A;
  color: #FFFFFF;
}
#relation .rel .obl {
  margin-left: 0px;
}
#relation .rel,
#fieldsfilter {
  list-style: none outside none;
}
#fieldsfilter li {
  margin: 10px 0px;
}
#fieldsfilter select {
  margin: 0px 10px;
}
input[type="text"] {
  color: black;
}
.info_delete_fields {
  position: absolute;
  background: rgba(157,192,225,4);
  border: 1px solid #0F66A9;
  color: #444446;
  min-width: 100px;
  padding: 0px 4px;
  font-weight: bold;
  font-size: 0.7em;
  margin-left: 50px;
}
#tabs .badge {
  background: #CCC31C;
  display: inline-block;
  width: 30px;
}
#champs #catalog {
  max-height: 870px;
  overflow: auto;
}
.manual-simulation,
.simulation-buttons {
  margin-top: 3vh;
  margin-left: 3vw;
  margin-right: 3vw;
  display: flex;
  justify-content: space-around;
  max-width: 50vw;
}
.manual-input {
  max-width: 15vw;
}
.btn-success {
  background-color: #CCC31C !important;
  border-color: #CCC31C !important;
}
.btn-success:hover {
  background-color: #D6CF49 !important;
  border-color: #D6CF49 !important;
}

.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px;
}
.ui-timepicker-div dl {
  text-align: left;
}
.ui-timepicker-div dl dt {
  float: left;
  clear: left;
  padding: 0 0 0 5px;
}
.ui-timepicker-div dl dd {
  margin: 0 10px 10px 40%;
}
.ui-timepicker-div td {
  font-size: 90%;
}
.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
.ui-timepicker-div .ui_tpicker_unit_hide {
  display: none;
}
.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input {
  background: none;
  color: inherit;
  border: none;
  outline: none;
  border-bottom: solid 1px #555;
  width: 95%;
}
.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input:focus {
  border-bottom-color: #aaa;
}
.ui-timepicker-rtl {
  direction: rtl;
}
.ui-timepicker-rtl dl {
  text-align: right;
  padding: 0 5px 0 0;
}
.ui-timepicker-rtl dl dt {
  float: right;
  clear: right;
}
.ui-timepicker-rtl dl dd {
  margin: 0 40% 10px 10px;
}
.ui-timepicker-div.ui-timepicker-oneLine {
  padding-right: 2px;
}
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time,
.ui-timepicker-div.ui-timepicker-oneLine dt {
  display: none;
}
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time_label {
  display: block;
  padding-top: 2px;
}
.ui-timepicker-div.ui-timepicker-oneLine dl {
  text-align: right;
}
.ui-timepicker-div.ui-timepicker-oneLine dl dd,
.ui-timepicker-div.ui-timepicker-oneLine dl dd > div {
  display: inline-block;
  margin: 0;
}
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_minute:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_second:before {
  content: ':';
  display: inline-block;
}
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_millisec:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_microsec:before {
  content: '.';
  display: inline-block;
}
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide,
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide:before {
  display: none;
}

.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}
.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.fancybox-opened {
  z-index: 8030;
}
.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 10px 25px rgba(0,0,0,0.5);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}
.fancybox-outer,
.fancybox-inner {
  position: relative;
}
.fancybox-inner {
  overflow: hidden;
}
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}
.fancybox-image,
.fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}
#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
  background-image: url(../../fancybox_sprite.png);
}
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url(../../fancybox_loading.gif) center center no-repeat;
}
.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url(../../blank.gif);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  z-index: 8040;
}
.fancybox-prev {
  left: 0;
}
.fancybox-next {
  right: 0;
}
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}
.fancybox-nav:hover span {
  visibility: visible;
}
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}
.fancybox-lock {
  overflow: visible !important;
  width: auto;
}
.fancybox-lock body {
  overflow: hidden !important;
}
.fancybox-lock-test {
  overflow-y: hidden !important;
}
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url(../../fancybox_overlay.png);
}
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}
.fancybox-opened .fancybox-title {
  visibility: visible;
}
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  background: rgba(0,0,0,0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}
.fancybox-title-inside-wrap {
  padding-top: 10px;
}
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0,0,0,0.8);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min--moz-device-pixel-ratio: 1.5),only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading,
  .fancybox-close,
  .fancybox-prev span,
  .fancybox-next span {
    background-image: url(../../fancybox_sprite@2x.png);
    background-size: 44px 152px;
  }
  #fancybox-loading div {
    background-image: url(../../fancybox_loading@2x.gif);
    background-size: 24px 24px;
  }
}

.qtip {
  position: absolute;
  left: -28000px;
  top: -28000px;
  display: none;
  max-width: 280px;
  min-width: 50px;
  font-size: 10.5px;
  line-height: 12px;
  direction: ltr;
  box-shadow: none;
  padding: 0;
}
.qtip-content {
  position: relative;
  padding: 5px 9px;
  overflow: hidden;
  text-align: left;
  word-wrap: break-word;
}
.qtip-titlebar {
  position: relative;
  padding: 5px 35px 5px 10px;
  overflow: hidden;
  border-width: 0 0 1px;
  font-weight: 700;
}
.qtip-titlebar+.qtip-content {
  border-top-width: 0 !important;
}
.qtip-close {
  position: absolute;
  right: -9px;
  top: -9px;
  cursor: pointer;
  outline: medium none;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}
.qtip-titlebar .qtip-close {
  right: 4px;
  top: 50%;
  margin-top: -9px;
}
* html .qtip-titlebar .qtip-close {
  top: 16px;
}
.qtip-titlebar .ui-icon,
.qtip-icon .ui-icon {
  display: block;
  text-indent: -1000em;
  direction: ltr;
}
.qtip-icon,
.qtip-icon .ui-icon {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
}
.qtip-icon .ui-icon {
  width: 18px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  text-indent: 0;
  font: 400 bold 10px/13px Tahoma, sans-serif;
  color: inherit;
  background: transparent none no-repeat -100em -100em;
}
.qtip-default {
  border-width: 1px;
  border-style: solid;
  border-color: #F1D031;
  background-color: #FFFFA3;
  color: #555;
}
.qtip-default .qtip-titlebar {
  background-color: #FFEF93;
}
.qtip-default .qtip-icon {
  border-color: #CCC;
  background: #F1F1F1;
  color: #777;
}
.qtip-default .qtip-titlebar .qtip-close {
  border-color: #AAA;
  color: #111;
}
.qtip-light {
  background-color: #fff;
  border-color: #E2E2E2;
  color: #454545;
}
.qtip-light .qtip-titlebar {
  background-color: #f1f1f1;
}
.qtip-dark {
  background-color: #505050;
  border-color: #303030;
  color: #f3f3f3;
}
.qtip-dark .qtip-titlebar {
  background-color: #404040;
}
.qtip-dark .qtip-icon {
  border-color: #444;
}
.qtip-dark .qtip-titlebar .ui-state-hover {
  border-color: #303030;
}
.qtip-cream {
  background-color: #FBF7AA;
  border-color: #F9E98E;
  color: #A27D35;
}
.qtip-cream .qtip-titlebar {
  background-color: #F0DE7D;
}
.qtip-cream .qtip-close .qtip-icon {
  background-position: -82px 0;
}
.qtip-red {
  background-color: #F78B83;
  border-color: #D95252;
  color: #912323;
}
.qtip-red .qtip-titlebar {
  background-color: #F06D65;
}
.qtip-red .qtip-close .qtip-icon {
  background-position: -102px 0;
}
.qtip-red .qtip-icon {
  border-color: #D95252;
}
.qtip-red .qtip-titlebar .ui-state-hover {
  border-color: #D95252;
}
.qtip-green {
  background-color: #CAED9E;
  border-color: #90D93F;
  color: #3F6219;
}
.qtip-green .qtip-titlebar {
  background-color: #B0DE78;
}
.qtip-green .qtip-close .qtip-icon {
  background-position: -42px 0;
}
.qtip-blue {
  background-color: #E5F6FE;
  border-color: #ADD9ED;
  color: #5E99BD;
}
.qtip-blue .qtip-titlebar {
  background-color: #D0E9F5;
}
.qtip-blue .qtip-close .qtip-icon {
  background-position: -2px 0;
}
.qtip-shadow {
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.15);
}
.qtip-rounded,
.qtip-tipsy,
.qtip-bootstrap {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.qtip-rounded .qtip-titlebar {
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.qtip-youtube {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 3px #333;
  -moz-box-shadow: 0 0 3px #333;
  box-shadow: 0 0 3px #333;
  color: #fff;
  border-width: 0;
  background: #4A4A4A;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#4A4A4A),color-stop(100%,#000));
  background-image: -webkit-linear-gradient(top,#4A4A4A 0,#000 100%);
  background-image: -moz-linear-gradient(top,#4A4A4A 0,#000 100%);
  background-image: -ms-linear-gradient(top,#4A4A4A 0,#000 100%);
  background-image: -o-linear-gradient(top,#4A4A4A 0,#000 100%);
}
.qtip-youtube .qtip-titlebar {
  background-color: #4A4A4A;
  background-color: rgba(0,0,0,0);
}
.qtip-youtube .qtip-content {
  padding: .75em;
  font: 12px arial, sans-serif;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#4a4a4a,EndColorStr=#000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#4a4a4a, EndColorStr=#000000);";
}
.qtip-youtube .qtip-icon {
  border-color: #222;
}
.qtip-youtube .qtip-titlebar .ui-state-hover {
  border-color: #303030;
}
.qtip-jtools {
  background: #232323;
  background: rgba(0,0,0,0.7);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#717171),to(#232323));
  background-image: -moz-linear-gradient(top,#717171,#232323);
  background-image: -webkit-linear-gradient(top,#717171,#232323);
  background-image: -ms-linear-gradient(top,#717171,#232323);
  background-image: -o-linear-gradient(top,#717171,#232323);
  border: 2px solid #ddd;
  border: 2px solid #f1f1f1;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 12px #333;
  -moz-box-shadow: 0 0 12px #333;
  box-shadow: 0 0 12px #333;
}
.qtip-jtools .qtip-titlebar {
  background-color: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171, endColorstr=#4A4A4A)";
}
.qtip-jtools .qtip-content {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A, endColorstr=#232323)";
}
.qtip-jtools .qtip-titlebar,
.qtip-jtools .qtip-content {
  background: transparent;
  color: #fff;
  border: 0 dashed transparent;
}
.qtip-jtools .qtip-icon {
  border-color: #555;
}
.qtip-jtools .qtip-titlebar .ui-state-hover {
  border-color: #333;
}
.qtip-cluetip {
  -webkit-box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
  box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
  background-color: #D9D9C2;
  color: #111;
  border: 0 dashed transparent;
}
.qtip-cluetip .qtip-titlebar {
  background-color: #87876A;
  color: #fff;
  border: 0 dashed transparent;
}
.qtip-cluetip .qtip-icon {
  border-color: #808064;
}
.qtip-cluetip .qtip-titlebar .ui-state-hover {
  border-color: #696952;
  color: #696952;
}
.qtip-tipsy {
  background: #000;
  background: rgba(0,0,0,0.87);
  color: #fff;
  border: 0 solid transparent;
  font-size: 11px;
  font-family: 'Lucida Grande', sans-serif;
  font-weight: 700;
  line-height: 16px;
  text-shadow: 0 1px #000;
}
.qtip-tipsy .qtip-titlebar {
  padding: 6px 35px 0 10px;
  background-color: transparent;
}
.qtip-tipsy .qtip-content {
  padding: 6px 10px;
}
.qtip-tipsy .qtip-icon {
  border-color: #222;
  text-shadow: none;
}
.qtip-tipsy .qtip-titlebar .ui-state-hover {
  border-color: #303030;
}
.qtip-tipped {
  border: 3px solid #959FA9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #F9F9F9;
  color: #454545;
  font-weight: 400;
  font-family: serif;
}
.qtip-tipped .qtip-titlebar {
  border-bottom-width: 0;
  color: #fff;
  background: #3A79B8;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#3A79B8),to(#2E629D));
  background-image: -webkit-linear-gradient(top,#3A79B8,#2E629D);
  background-image: -moz-linear-gradient(top,#3A79B8,#2E629D);
  background-image: -ms-linear-gradient(top,#3A79B8,#2E629D);
  background-image: -o-linear-gradient(top,#3A79B8,#2E629D);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8, endColorstr=#2E629D)";
}
.qtip-tipped .qtip-icon {
  border: 2px solid #285589;
  background: #285589;
}
.qtip-tipped .qtip-icon .ui-icon {
  background-color: #FBFBFB;
  color: #555;
}
.qtip-bootstrap {
  font-size: 14px;
  line-height: 20px;
  color: #333;
  padding: 1px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.qtip-bootstrap .qtip-titlebar {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.qtip-bootstrap .qtip-titlebar .qtip-close {
  right: 11px;
  top: 45%;
  border-style: none;
}
.qtip-bootstrap .qtip-content {
  padding: 9px 14px;
}
.qtip-bootstrap .qtip-icon {
  background: transparent;
}
.qtip-bootstrap .qtip-icon .ui-icon {
  width: auto;
  height: auto;
  float: right;
  font-size: 20px;
  font-weight: 700;
  line-height: 18px;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  filter: alpha(opacity=20);
}
.qtip-bootstrap .qtip-icon .ui-icon:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .4;
  filter: alpha(opacity=40);
}
.qtip:not(.ie9haxors) div.qtip-content,
.qtip:not(.ie9haxors) div.qtip-titlebar {
  filter: none;
  -ms-filter: none;
}
.qtip .qtip-tip {
  margin: 0 auto;
  overflow: hidden;
  z-index: 10;
}
x:-o-prefocus,
.qtip .qtip-tip {
  visibility: hidden;
}
.qtip .qtip-tip,
.qtip .qtip-tip .qtip-vml,
.qtip .qtip-tip canvas {
  position: absolute;
  color: #123456;
  background: transparent;
  border: 0 dashed transparent;
}
.qtip .qtip-tip canvas {
  top: 0;
  left: 0;
}
.qtip .qtip-tip .qtip-vml {
  behavior: url(../../Resources/public/css/lib/jquery/#default#VML);
  display: inline-block;
  visibility: visible;
}
#qtip-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#qtip-overlay.blurs {
  cursor: pointer;
}
#qtip-overlay div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(Opacity=70)";
}
.qtipmodal-ie6fix {
  position: absolute !important;
}
