#myd_top {
  height: 35px;
  min-height: 35px;
  max-height: 35px;
  background: #444446;
  border-bottom: 4px solid #C6BD20;
  min-width: 1200px;
  width: 100%;
}
#myd_title {
  height: 46px;
  background: #0F66A9;
  margin: 0 auto;
  width: 1200px;
  color: white;
  padding: 14px;
  font-weight: bold;
}
#myd_title a,
#myd_title a:hover {
  color: #C6BD20;
}
.myd_loading > img {
  display: none;
  width: 43px;
  height: 11px;
}
header {
  height: auto;
  min-height: 200px;
  margin: 0 auto;
  width: 1200px;
}
section {
  margin: 0 auto;
  width: 1200px;
  min-height: 500px;
  background: white;
}
footer {
  margin-top: 100px;
  padding: 10px;
  height: 100px;
  min-height: 100px;
  max-height: 100px;
  background: #444446;
  min-width: 1200px;
  width: 100% auto;
  color: white;
  text-align: center;
}
.clr {
  clear: both;
}
.ctr {
  text-align: center;
}
.left {
  float: left;
  text-align: left;
}
.right {
  text-align: right;
  float: right;
}
.task {
  width: 150px;
  max-width: 150px;
  margin: 5px;
  display: inline-block;
}
#fd-title-small span.nb,
#fd-title span.nb {
  font-size: 1.3em;
}
#tabs {
  border: 0px !important;
}
#tabs ul.ui-widget-header {
  background: none;
  border: none;
}
#tabs ul.ui-widget-header li {
  height: 80px;
  min-width: calc(173.22857142857px);
  max-width: calc(173.22857142857px);
  margin: -1px;
}
#tabs .ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: #D7D8DA;
  border-left: 2px solid #B7B7B9;
  border-right: 2px solid #B7B7B9;
  color: #AAAAAC;
  opacity: 1;
}
#tabs .ui-state-active {
  background: white;
  color: #454547;
}
#tabs .ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #454547;
}
#tabs .ui-corner-all,
#tabs .ui-corner-top,
#tabs .ui-corner-right,
#tabs .ui-corner-tr,
#tabs .ui-corner-left,
#tabs .ui-corner-tl,
#tabs.ui-corner-br,
#tabs .ui-corner-bottom,
#tabs .ui-corner-bl {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
#tabs .ui-corner-all,
#tabs .ui-corner-bottom,
#tabs .ui-corner-right,
#tabs .ui-corner-br {
  border-bottom-right-radius: 0px;
}
#tabs .ui-corner-all,
#tabs .ui-corner-bottom,
#tabs .ui-corner-left,
#tabs .ui-corner-bl {
  border-bottom-left-radius: 0px;
}
.ui-tabs,
.ui-tabs-nav {
  padding: 0em !important;
}
#tabs .ui-tabs .ui-tabs-nav li.ui-tabs-active,
#tabs .ui-state-hover,
#tabs .ui-state-active {
  border-top: 0px !important;
}
#tabs .ui-state-disabled {
  background: #7D7D7F;
  border-top: 9px solid #CCC31C;
}
#tabs .ui-state-disabled a.ui-tabs-anchor {
  color: #343436;
}
#tabs a.ui-tabs-anchor {
  width: 100%;
  height: 100%;
  text-align: center;
}
#tabs ul.ui-tabs-nav {
  width: 1200px;
}
#notification {
  margin: 0 auto;
  width: 1200px;
  background: white;
  display: none;
}
#notification #zone_notification {
  margin: 0 auto 20px;
  text-align: left;
  width: 1200px;
  max-width: 1200px;
  max-height: 120px;
  overflow-y: scroll;
  padding: 0;
  -moz-box-shadow: 5px 5px 5px 0px #656565;
  -webkit-box-shadow: 5px 5px 5px 0px #656565;
  -o-box-shadow: 5px 5px 5px 0px #656565;
  box-shadow: 5px 5px 5px 0px #656565;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565,Direction=134,Strength=5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#notification #zone_notification li {
  list-style-type: none;
  padding-left: 15px;
  min-height: 30px;
}
#notification #zone_notification li .glyphicon {
  float: left;
  margin: 0 5px;
}
#notification #zone_notification .info {
  color: #0F66A9;
  background: #BFE2FC;
}
#notification #zone_notification .warning {
  color: #f1b753;
  background: #ffeccc;
}
#notification #zone_notification .error {
  color: #d60405;
  background: #f2dedf;
}
#notification #zone_notification .success {
  color: #9aa932;
  background: white;
}
.block-btn-infos > a {
  text-decoration: none;
}
.help-content {
  border-top: 1px solid #ccc;
  margin: 20px 0;
  padding-top: 20px;
  text-align: justify;
  line-height: 2em;
}
.help-content a {
  text-decoration: underline;
}
.help-content a:hover {
  color: #0F66A9;
}
#blockaddfield {
  margin: 10px 0px;
  float: right;
}
