@import "css/layout.css";
@import "css/menu.css";
@import "css/regle.css";
@import "css/workflow.css";
@import "js/lib/jquery_fancybox/jquery.fancybox.css";
@import "css/lib/jquery/jquery.qtip.min.css";
@import "css/task.css";
@import "css/account.css";
@import "css/view/connector.css";
@import "css/rule.css";
@import "css/flux.css";
@import "css/home.css";
@import "css/jobscheduler.css";
@import "css/animation.css";
@import "css/document-detail-history";
@import "css/flux-pagination";
@import "css/new-bar-gradient.css";
@import "css/jcarousel.ajax.css";
@import "css/custom.css";
@import "css/rule-group.css";
@import "css/user_manager.css";
@import "css/variable.css";
@import "vendors/dtsel/dtsel.css";
@import "~bootstrap";
@import "~jquery-ui/themes/base/all.css";