@import "css/regle.css";
@import "js/lib/jquery_fancybox/jquery.fancybox.css";
@import "css/lib/jquery/jquery.qtip.min.css";
@import "css/login.css";
@import "css/reset_password.css";
@import "~bootstrap";
