{% trans_default_domain 'FOSUserBundle' %}

<style type="text/css">
	{% include "LoginBundle:Layout:style.css.twig" %}
</style>

<div id="reset_password">
	<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
	    <div>
	        {% if invalid_username is defined %}
	            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
	        {% endif %}
	        <label for="username">{{ 'resetting.request.username'|trans }}</label>
	        <input type="text" id="username" name="username" required="required" />
	    </div>
	    <div>
	        <p><input class="btn-large-myd" type="submit" value="{{ 'resetting.request.submit'|trans }}" /></p>
	    </div>
	</form>
<div>