/* HEADER */
*{
    text-decoration: none !important;
}

header{
    border-bottom: groove 1px;
    border-color: rgb(32 32 32 / 18%);
    /* box-shadow: 0px -13px 37px; */
}
.logo{
    width: 250px;
    margin-left: 15px;
    margin-top: 5px;
}
.connection{
    color: #282828 !important;
}
.home-button{
    float: right;
    margin: 30px;
    font-size: larger;
}
.btn-home{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4;
    cursor: pointer;
    background-color: #282828;
    color: white;
    padding: 15px;
    border-radius: 30px;
    margin-left: 30px;
    margin-right: 30px;
    
}
.btn-home:hover{
    background-color: white;
    border: 2px solid #282828;
    color:#282828;
}

/* MAIN */

body {          
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
    
main {
    flex: 1;
}
main p{
    font-size: 1.3em;
    margin-bottom: 65px;
}
.main_home{
    padding-top: 30px;
    background-image:linear-gradient(306deg, rgba(0, 157, 255, 0) 100%, #ffffff 50%),linear-gradient(113deg, #ffffff 50%, #14b3d6 50%)
    /* background-image:linear-gradient(180deg, rgb(255 255 255 / 24%) 0%,
     #ffffff 80%),linear-gradient(180deg, #cdf3ff 29%, #ffffff 95%); */
     /* background-image: linear-gradient(180deg, rgb(255 255 255 / 0%) 0%, #ffffff 80%),linear-gradient(135deg, #8bd8ff 50%, #ffffff 50%); */
     /* background-image: linear-gradient(175deg, rgb(255 255 255 / 24%) 94%, #ffffff 80%),linear-gradient(151deg, #cdf3ff 50%, #ffffff 50%); */
}
.main-content{
    /* text-align: center; */
    font-family: sans-serif;
    /* width: 90%;
    margin: auto;
    margin-top: 100px; */
    width: 40%;
    margin: 60px;
}
.main_home h2{
    font-size: 3rem;
}
span{
    color: #14b3d6;
}
.btn-doc{
    padding: 18px;
    padding-left: 250px;
    padding-right: 250px;
    text-align: center;
    margin-left: 0px;
}
/* FOOTER */

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: white;
    border-top: groove 1px;
    border-color: rgb(32 32 32 / 18%);
    /* box-shadow: 0px 13px 37px; */
}

footer p {
    margin-top: 10px;
    color: #282828;
}

footer p span{
   color: #14b3d6;
}



/* CAROUSEL */
.main-carousel {
    border-top: groove 1px;
    border-color: rgb(32 32 32 / 18%);
	align-items: center;
	display: flex;
	justify-content: center;
    position: absolute;
    bottom: 40px;
}

.slider {
	background: white;
	height: 100px;
	overflow:hidden;
	position: relative;
    width: 1800px;
}
.slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slide {
    height: 100px;
    width: 250px;
}
 .slide img{
    height: 100;
    margin-top: 20px;
 }
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}
