/* HEADER */

header{
    border-bottom: groove;
    border-color: black;
}

.logo{
    width: 250px;
}

.home_container {

  }

  .home_item{
  }

/* MAIN */

.main_home{
    font-family: sans-serif;
}