/* HEADER */
*{
    text-decoration: none !important;
}
header{
    background-color: rgb(255, 255, 255);
    border-bottom: groove 1px;
    border-color: rgb(32 32 32 / 18%);
}
.connection{
    color: #282828 !important;
}
.home-button{
    float: right;
    font-size: larger;
}
.btn-home{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4;
    cursor: pointer;
    background-color: #282828;
    color: white;
    border-radius: 30px;
}
.btn-home:hover{
    background-color: white;
    border: 2px solid #282828;
    color:#282828;
}

/* MAIN */

body {          
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f1f5f9 !important;
  }
    
main {
    flex: 1;
}
main p{
    font-size: 1.3em;
}
.main_home{
    background-image: url(../images/home-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main_home h2{
    font-size: 3rem;
}
span{
    color: #14b3d6;
}
.btn-doc{
    padding: 18px;
    padding-left: 250px;
    padding-right: 250px;
    text-align: center;
    margin-left: 0px;
}
/* FOOTER */

footer{
    border-top: groove 1px;
    border-color: rgb(32 32 32 / 18%);
}

footer p {
    color: #282828;
}

footer p span{
   color: #14b3d6;
}

/* CAROUSEL HOME */
.main-carousel {
    border-top: groove 1px;
    border-color: rgb(32 32 32 / 18%);
}

.slider {
	background: white;
}
.slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slide {
    height: 100px;
    width: 250px;
}
.slide img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: 0.3;
  }
 .slide img{
    height: 100;
    margin-top: 20px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
 }
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}