body{
    background: #f1f5f9 !important;
}

.install {
    padding: 35px;
    height: 75vh;
    margin: 450px;
    margin-top: 150px;
    margin-bottom: 100px;
    background: white;
    box-shadow:0 10px 15px -3px rgba(15,23,41,0.1),0 4px 6px -2px rgba(15,23,41,0.05);
}
.install-title {
    font-size: 1.5rem;
}
.install-check {
    font-size: 1.25rem;
}

.install a {
    color: white !important;
    text-decoration: none !important;
}
