body{
    background: #f1f5f9 !important;

}
.logo-row{
    text-align: center;
}

.install{
    padding: 35px;
    margin: 450px;
    margin-top: 0px;
    margin-bottom: 100px;
    background: white;
    box-shadow:0 10px 15px -3px rgba(15,23,41,0.1),0 4px 6px -2px rgba(15,23,41,0.05);
}
.install-title{
    font-size: 1.5rem;
}
.install-check{
    font-size: 1.25rem;
}

.install a{    
    color: white !important;
    text-decoration: none !important;
}

.php-version{
    color: rgb(4, 134, 32);
}

.note-install{
    background-color: antiquewhite;
    text-align: center;
    padding: 15px;
    margin: 20px;
}