security:
    encoders:
        FOS\UserBundle\Model\UserInterface: sha512

    providers:
        fos_userbundle:
            id: fos_user.user_provider.username

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt))/
            security: false
        main:
            pattern: .*
            form_login:
                provider: fos_userbundle
#                csrf_provider: security.csrf.token_manager
                csrf_token_generator: security.csrf.token_manager

            remember_me:
                key:       %secret%
                lifetime:  30000000
                path:      /
                domain:    ~  
            logout:        true
            anonymous:     true