<div class="d-flex justify-content-center bg-dark vh-10">
	<div class="mt-auto pb-5">
		<p class="text-muted">© 2013-{{ "now"|date("Y") }}, Myddleware -
			<span>version
		{{myd_version}}</span>
		</p>
	</div>
</div>