{% extends 'base.html.twig' %}

{% block title %}Myddleware{% endblock %}

{% block body %}
<section>
    <div>
          <button type="submit" class="btn btn-primary">Connection</button>
            <button type="submit" class="btn btn-primary">Registration</button>
    </div>
</section>
<h1>MYDLLEWARE</h1>
<h2>Connect your applications, exploit your data better.</h2>
<h4>Myddleware makes complex data integration operations easier</h4>
<p>Myddleware is free and open-source !</p>
<p>Install it directly on your server and follow our tutorials on the community websit to set up your integration rules.</p>
{% endblock %}

