{% extends 'baseone.html.twig' %}

{% block title %}{% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Creating your Myddleware User
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}