{% extends 'base.html.twig' %}

{% block title %}Setting up Myddleware
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col">
				<h1 class="display-4">Hello and welcome to the Myddleware setup wizard</h1>
				<div class="card">
					<p>It appears you haven't configured your database yet.</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
