{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

<!-- create -->
<div class="container mt-4">
	<div class="row justify-content-center">
		<div>
			<div id="source" class="row justify-content-center">
				<select id="soluce_source" class="liste_solution form-select col ">
					{{solutions | raw }}
				</select>
				<div class="picture col"></div>	
				<div class="help col"></div>
				<div class="champs"></div>
			</div>
		</div>
	</div>
</div>

<div class="clr"></div>
<div id="step_modules">
		<div id="msg_status" class="alert alert-danger" role="alert">
			<i class="fa fa-exclamation" aria-hidden="true"></i>
			{{'error.connexion'|trans}} : <span class="error"></span>
		</div>

</div>

{% block base_js %}
	{# ------------- PARAMETRES JQUERY ------------- #}
	<script type="text/javascript">
		var path_link_fr = "{{'view_connector.help.link'|trans}}";
	</script>
	{# ------------- PARAMETRES JQUERY ------------- #}
{% endblock base_js %}