<section>
	<div class="login-fields-form">
		{# <h3>{{ solution.name }}</h3>
		<p>{{ solution.id }}</p>
		{% for module in solution.modules %}
			<p>{{ module.name }}</p>
		{% endfor %} #}
		{{ form(form) }}
	</div>
</section>