<div class="mt-3">
    {% if isCredentialsValid %}
        <div class="alert alert-success" role="alert">
            {{ 'create_connector.connection_valid' | trans }}
        </div>
    {% else %}
        <div class="alert alert-danger" role="alert">
            {{ 'create_connector.connection_invalid' | trans }}
        </div>
    {% endif %}
</div>